* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.containerOne {
    background-image: url('../img/hero.jpg');
    background-size: cover;
    height: 100vh;
    position: relative;
}

.innerContainer {
    position: relative;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
}

.logo li {
    font-size: 20px;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    list-style-type: none;
}


.menu li {
    padding: 10px;
    display: inline-block;
    color: white;
}

.menu a {
    color: white;
    text-decoration: none;
}

.template {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    height: 80vh;
    color: white;
    font-weight: bold;
}

.template * {
    margin: 15px;
}

.template h3 {
    font-weight: lighter;
}

.template button {

    border: none;
    border-radius: 3px;
    background-color: #007bff;
    color: white;
    font-weight: bold;
    padding: 10px 25px;
    text-transform: uppercase;
}

.container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

.innerContainer1 {
    text-align: center;
    width: 30%;
    padding: 2%;
}

.line {
    width: 15%;
    background-color: #007bff;
    height: 1px;
    margin: 0 auto;
}

.container3 {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    padding: 2%;
}

.firstInner {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 200px;
    overflow: hidden;
    width: 90%;
    margin: 10px;
}

.firstInner * {
    padding: 15px;
}

.firstInner :first-child {
    width: 40%;
}

.secondInner {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 200px;
    overflow: hidden;
    width: 90%;
    margin: 10px;
}

.secondInner * {
    padding: 15px;
}

.secondInner :first-child {
    width: 60%;
}

.container4 {
    background-color: #f7f7f7;
    padding: 3% 0;
}

.features {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.features * {
    margin: 10px;
    text-align: center;
}

.innerIcons {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    padding: 60px;
}

.innerSection {
    width: 25%;
    margin: 0 auto;
}

.serviceIcon {
    font-size: 50px;
    color: #007bff;
}

.form {
    width: 100%;
}

.inputEmail {
    width: 50%;
    padding: 8px;
    text-align: left;
}

.subscribe {
    background-color: #007bff;
    color: white;
    text-transform: uppercase;
    border: none;
    padding: 10px 15px;
    font-weight: bold;
    border-radius: 2px;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2% 0;
    background-color: #414a4f;
}

.footer p {
    color: #a0a19e;
    text-transform: uppercase;
    font-size: 12px;
    margin: 2px;
}

.footer a {
    color: white;
    text-decoration: none;
}

.footerIcon {
    font-size: 25px;
    padding: 15px 5px;
    color: white;
}

@media (min-width: 767px) and (max-width: 1024px) {

    .containerOne {
        height: 50vh;

    }

    .template {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        vertical-align: middle;
        color: white;
        font-weight: bold;
        height: 60%;
    }

    .innerContainer1 {
        width: 80%;
    }

    .firstInner {
        flex-direction: column;
        height: auto;
    }
    .secondInner {
        flex-direction: column;
        height: auto;
    }

    .firstInner * {
        max-height: 300px;
        width: 100%;
    }

    .secondInner * {
        max-height: 300px;
        width: 100%;
    }

    .firstInner :first-child {
        width: 100%;
    }

    .secondInner :first-child {
        width: 100%;
    }

    .features {
        width: 80%;
    }
    
    .innerIcons {
        flex-direction: column;
    }

    .innerSection {
        width: 60%;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .inputEmail {
        width: 80%;
    }
}

@media (max-width: 760px) { 

    .menu {
        flex-direction: column;
        align-items: center;
        
    }

    .logo ul {
        padding-left: 0px;
        margin: 0 auto;
    }

    .list ul{
        padding-left: 0;
    }

    .innerContainer1 {
        width: 80%;
    }

    .firstInner {
        flex-direction: column;
        height: auto;
    }
    .secondInner {
        flex-direction: column;
        height: auto;
    }

    .firstInner :nth-child(2) {
        height: 300px;
        width: 80%;
    }

    .secondInner :nth-child(2) {
        height: 300px;
        width: 80%;
    }

    .firstInner :first-child {
        height: 300px;
        width: 80%;
    }

    .secondInner :first-child {
        height: 300px;
        width: 80%;
    }

    .features {
        width: 80%;
    }

    .line {
        width: 60%;
    }

    .innerIcons {
        flex-direction: column;
    }

    .innerSection {
        width: 80%;
    }
    .subscribe {
        max-width: 50%;
    }

    .inputEmail {
        width: 80%;
    }
    .footer {
        padding: 15% 0;
    }
}
